<div>
    <aside class="menu">
        <div class="logo">
            <i class="fa-solid fa-volume-high"></i>
            Discover
        </div>
        <ul class="menu-list">
            <li></li>
            <li>
                <a href="#">
                    <span class="icon is-right">
                        <i class="fa-solid fa-house-chimney"></i>
                    </span>
                    Home
                </a>
            </li>
            <li>
                <a routerLink="/albums">
                    <span class="icon is-right">
                        <i class="fa-solid fa-compact-disc"></i>
                    </span>
                    Albums
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon is-right">
                        <i class="fa-solid fa-user-group"></i>
                    </span>
                    Artists
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon is-right">
                        <i class="fa-solid fa-music"></i>
                    </span>
                    Tracks
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon is-right">
                        <i class="fa-solid fa-guitar"></i>
                    </span>
                    Genres
                </a>
            </li>
        </ul>
    </aside>
</div>