<div>
    <aside class="menu">
        <a class="link" routerLink="/">
            <div class="logo">
                <i class="logo-icon fa-solid fa-volume-high"></i>
                Discover
            </div>
        </a>
        <ul class="menu-list">
            <li *ngIf="!isLogged()">
                <a routerLink="/login">
                    <span class="icon is-right">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </span>
                    Login
                </a>
            </li>
            <li *ngIf="isLogged()">
                <a (click)="logout()">
                    <span class="icon is-right">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </span>
                    Logout
                </a>
            </li>
            <li>
                <a routerLink="/albums">
                    <span class="icon is-right">
                        <i class="fa-solid fa-compact-disc"></i>
                    </span>
                    Albums
                </a>
            </li>
            <li>
                <a routerLink="/artists">
                    <span class="icon is-right">
                        <i class="fa-solid fa-user-group"></i>
                    </span>
                    Artists
                </a>
            </li>
            <li>
                <a routerLink="/tracks">
                    <span class="icon is-right">
                        <i class="fa-solid fa-music"></i>
                    </span>
                    Tracks
                </a>
            </li>
            <li>
                <a routerLink="/genres">
                    <span class="icon is-right">
                        <i class="fa-solid fa-guitar"></i>
                    </span>
                    Genres
                </a>
            </li>
        </ul>
    </aside>
</div>