<div class="main-container" *ngIf="isAlbumLoaded">
    <div class="album-header">
        <img class="cover-art" height="300px" width="300px" [src]="albumCoverArtUrl" (error)="insertDefaultAlbumCover()">

        <div class="album-info">
            <h1 class="title is-1">
                {{albumTitle}}
            </h1>
            <ul class="album-meta-info">
                <li>
                    <span class="icon is-right">
                        <i class="fa-solid fa-user-group"></i>
                    </span>
                    {{ artistsNames }}
                </li>
                <li>
                    <span class="icon is-right">
                        <i class="fa-solid fa-calendar"></i>
                    </span>
                    {{ formattedReleaseDate }}
                </li>
                <li>
                    <span class="icon is-right">
                        <i class="fa-solid fa-clock"></i>
                    </span>
                    {{ formattedAlbumLength }}
                </li>
                <li>
                    <span class="icon is-right">
                        <i class="fa-solid fa-copyright"></i>
                    </span>
                    {{ albumLabel }}
                </li>
            </ul>
            <div class="action-btns">
                <button class="button is-warning is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-pen"></i>
                    </span>
                    <span>
                        Edit
                    </span>
                </button>
                <button class="button is-danger is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                    <span>
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="album-tracks">

    </div>
</div>