<div class="main-container" *ngIf="isAlbumLoaded">
    <div class="album-header">
        <div class="cover-container">
            <img class="cover-art" height="300px" width="300px" [src]="albumCoverArtUrl"
                (error)="insertDefaultAlbumCover()">

            <div *ngIf="loginService.isAdmin()" class="overlay">
                <input class="file-input" type="file" accept=".jpg, .png, .jpeg" (change)="onFileSelect($event)">
                <i class="fa-solid fa-pen"></i>
                <b>
                    Change cover
                </b>
            </div>
        </div>

        <div class="album-info">
            <h1 class="album-title title is-1">
                {{albumTitle}}
                <app-like-button class="like-btn"></app-like-button>
            </h1>
            <ul class="album-meta-info">
                <li>
                    <span class="icon is-right">
                        <i class="fa-solid fa-user-group"></i>
                    </span>
                    {{ artistsNames }}
                </li>
                <li>
                    <span class="icon is-right">
                        <i class="fa-solid fa-calendar"></i>
                    </span>
                    {{ formattedReleaseDate }}
                </li>
                <li>
                    <span class="icon is-right">
                        <i class="fa-solid fa-clock"></i>
                    </span>
                    {{ formattedAlbumLength }}
                </li>
                <li>
                    <span class="icon is-right">
                        <i class="fa-solid fa-copyright"></i>
                    </span>
                    {{ albumLabel }}
                </li>
            </ul>
            <div class="action-btns" *ngIf="loginService.isAdmin()">
                <button (click)="openResourceManager('track')" class="button is-success is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-music"></i>
                    </span>
                    <span>
                        Manage tracks
                    </span>
                </button>
                <button (click)="openResourceManager('genre')" class="button is-success is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-guitar"></i>
                    </span>
                    <span>
                        Manage genres
                    </span>
                </button>
                <button (click)="openResourceManager('artist')" class="button is-success is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-user-group"></i>
                    </span>
                    <span>
                        Manage artists
                    </span>
                </button>
                <button (click)="openAlbumCreatorModal()" class="button is-warning is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-pen"></i>
                    </span>
                    <span>
                        Edit info
                    </span>
                </button>
                <button (click)="openConfirmationModal()" class="button is-danger is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                    <span>
                        Delete album
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="album-tracks">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>TITLE</th>
                    <th>
                        <i class="fa-solid fa-clock"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracklist; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>
                        <div class="trackName">
                            <b>
                                {{ track.title }}
                            </b>
                        </div>
                        <div class="featuredArtists">
                            {{ track.artists }}
                        </div>
                    </td>
                    <td>{{ track.length }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- manager for tracks -->
    <app-resource-manager [isLoading]="isModalLoading" resourceName="tracks" [currPage]="this.resourceCurrPage"
        [finalPage]="this.resourceFinalPage" [alreadyAttachedResources]="alreadyAttachedResources"
        [resourcesToBeAttached]="resourcesToBeAttached" (attach)="attachTrackToAlbum($event)"
        (pageChangeAll)="loadAllTracksFromPage($event)"
        (pageChangeSearch)="searchTracks($event['searchTerm'], $event['pageToGo'])"
        (detach)="detachTrackFromAlbum($event)" (search)="searchTracks($event)" (close)="closeTrackManager()"
        *ngIf="showTrackManager"></app-resource-manager>

    <!-- manager for artists -->
    <app-resource-manager [isLoading]="isModalLoading" resourceName="artists" [currPage]="this.resourceCurrPage"
        [finalPage]="this.resourceFinalPage" [alreadyAttachedResources]="alreadyAttachedResources"
        [resourcesToBeAttached]="resourcesToBeAttached" (attach)="attachArtistToAlbum($event)"
        (pageChangeAll)="loadAllArtistsFromPage($event)"
        (pageChangeSearch)="searchArtists($event['searchTerm'], $event['pageToGo'])"
        (detach)="detachArtistFromAlbum($event)" (search)="searchArtists($event)" (close)="closeArtistManager()"
        *ngIf="showArtistManager"></app-resource-manager>

    <!-- manager for genre -->
    <app-resource-manager [isLoading]="isModalLoading" resourceName="genres" [currPage]="this.resourceCurrPage"
        [finalPage]="this.resourceFinalPage" [alreadyAttachedResources]="alreadyAttachedResources"
        [resourcesToBeAttached]="resourcesToBeAttached" (attach)="attachGenreToAlbum($event)"
        (pageChangeAll)="loadAllGenresFromPage($event)"
        (pageChangeSearch)="searchGenres($event['searchTerm'], $event['pageToGo'])"
        (detach)="detachGenreFromAlbum($event)" (search)="searchGenres($event)" (close)="closeGenreManager()"
        *ngIf="showGenreManager"></app-resource-manager>

    <!-- the album editor -->
    <app-album-creator (submitAlbum)="updateAlbumInfo($event)" [title]="albumTitle" [releaseDate]="releaseDate"
        [label]="albumLabel" [length]="length" mode="editor" *ngIf="isAlbumCreatorVisible"
        (close)="closeAlbumCreatorModal()"></app-album-creator>

    <!-- confirmation modal for when the user wants to delete an album -->
    <app-confirmation-modal (confirm)="deleteAlbum()" (close)="closeConfirmationModal()" *ngIf="showConfirmationModal">
    </app-confirmation-modal>
</div>