<div class="view">
    <app-album-superior-bar (createAlbum)="openAlbumCreatorModal()"></app-album-superior-bar>
    <div class="album-listing">
        <app-album-card class="album-card" *ngFor="let album of displayedAlbums" [album]="album"></app-album-card>
    </div>
    <app-album-paginator [finalPage]="finalPage" [currPage]="currPage"
        (pageChange)="retrieveAlbumsOnPage($event)"></app-album-paginator>
    <app-album-creator *ngIf="isAlbumCreatorVisible" (close)="closeAlbumCreatorModal()"
        (submitAlbum)="createAlbum($event)"></app-album-creator>
</div>