<div class="view">
    <app-superior-bar (search)="searchAlbums($event)" (create)="openAlbumCreatorModal()"></app-superior-bar>
    <div class="album-listing">
        <app-album-card *ngFor="let album of displayedAlbums" [album]="album"></app-album-card>
    </div>
    <app-paginator [finalPage]="finalPage" [currPage]="currPage"
        (pageChange)="retrieveAlbumsOnPage($event)"></app-paginator>
    <app-album-creator *ngIf="isAlbumCreatorVisible" (close)="closeAlbumCreatorModal()"
        (submitAlbum)="createAlbum($event)"></app-album-creator>
</div>