.view {
  padding: 25px;
}

.search-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.control {
  padding-right: 10px;
  width: 100%;
}

.album-listing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
}
