<div class="columns">
    <div class="column">
        <div class="control">
            <input [(ngModel)]="searchTerm" class="input is-rounded" type="text">
        </div>
    </div>
    <div class="column">
        <button (click)="emitSearchEvent()" class="button is-rounded is-info">
            <span class="icon is-small">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span>
                Search
            </span>
        </button>
    </div>
</div>