<div class="modal is-active">
    <div (click)="emitCloseEvent()" class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">{{ mode === 'creator' ? 'Create an album' : 'Edit an album\'s info'}}</h1>
            <form [formGroup]="newAlbumForm" (ngSubmit)="emitSubmitEvent(newAlbumForm)">
                <div class="field">
                    <label class="label">Title<span class="red">*</span></label>
                    <div class="control">
                        <input formControlName="title"
                            [class]="{'input': true, 'is-danger': isFieldInvalidAndInteracted('title')}" type="text"
                            placeholder="Album's title">
                    </div>
                    <p *ngIf="isFieldInvalidAndInteracted('title')" class="help is-danger">Please, provide a title.</p>
                </div>
                <div class="field">
                    <label class="label">Release date<span class="red">*</span></label>
                    <div class="control">
                        <input formControlName="releaseDate"
                            [class]="{'input': true, 'is-danger': isFieldInvalidAndInteracted('releaseDate')}"
                            type="date">
                    </div>
                    <p *ngIf="isFieldInvalidAndInteracted('releaseDate')" class="help is-danger">Please, provide a
                        release date.</p>
                </div>
                <div class="field">
                    <label class="label">Label</label>
                    <div class="control">
                        <input formControlName="label" class="input" type="text" placeholder="Album's label">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Length (in seconds)<span class="red">*</span></label>
                    <div class="control">
                        <input formControlName="length"
                            [class]="{'input': true, 'is-danger': isFieldInvalidAndInteracted('length')}" type="number"
                            placeholder="Album's length">
                    </div>
                    <p *ngIf="isFieldInvalidAndInteracted('length')" class="help is-danger">Please, provide a valid
                        length (greater or equal than 1).</p>
                </div>
                <div class="btn-set field is-grouped">
                    <div class="control">
                        <button [disabled]="newAlbumForm.invalid" class="button is-link">{{ mode === 'creator' ?
                            'Create' : 'Update' }}</button>
                    </div>
                    <div class="control">
                        <button (click)="emitCloseEvent()" class="button is-link is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button (click)="emitCloseEvent()" class="modal-close is-large" aria-label="close"></button>
</div>