.box {
  width: 200px;
  padding-bottom: 40px;
}

.box:hover {
  background-color: whitesmoke;
}

.cover-art {
  border-radius: 6px;
}

.title {
  margin-top: 15px;
}

.subtitle {
  margin-top: 10px;
}
