<div class="search-bar">
    <p class="control has-icons-left">
        <input type="text" class="input is-rounded" placeholder="Search for an album...">
        <span class="icon is-left">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
    </p>
    <button class="button is-rounded is-success" (click)="emitCreateAlbumEvent()">
        <span class="icon">
            <i class="fa-solid fa-plus"></i>
        </span>
        <span>
            Create album
        </span>
    </button>
</div>