<div class="modal is-active">
    <div (click)="emitCloseEvent()" class="modal-background">
    </div>
    <div class="modal-content">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Available</h1>
                    <app-search-resource-bar (search)="emitSearchEvent($event)"></app-search-resource-bar>
                    <app-resource-table buttonType="add" [resources]="resourcesToBeAttached" (attach)="emitAttachEvent($event)"></app-resource-table>
                </div>
                <div class="column">
                    <h1 class="title">Attached</h1>
                    <app-resource-table buttonType="remove" [resources]="alreadyAttachedResources" (detach)="emitDetachEvent($event)"></app-resource-table>
                </div>
            </div>
        </div>
    </div>
    <button (click)="emitCloseEvent()" class="modal-close is-large" aria-label="close"></button>
</div>