<div class="modal is-active">
    <div class="modal-background">
    </div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">Manage tracks</h1>
            <div class="columns">
                <div class="column">
                    <div class="table-container">
                        <table class="table">
                            <tr>
                                <td>
                                    Hey
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="column">
                    <div class="table-container">
                        <table class="table">
                            <tr>
                                <td>
                                    Hey
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>