<div class="modal is-active">
    <div class="modal-background">
    </div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">Manage tracks</h1>
            <app-search-resource-bar (search)="emitSearchEvent($event)"></app-search-resource-bar>
            <div class="columns">
                <div class="column">
                    <app-resource-table (attach)="emitAttachEvent($event)" [resources]="resourcesToBeAttached"></app-resource-table>
                </div>
                <div class="column">
                    <app-resource-table [resources]="alreadyAttachedResources"></app-resource-table>
                </div>
            </div>
        </div>
    </div>

</div>