<div class="main-container" *ngIf="isArtistLoaded">
    <div class="artist-header">
        <div class="picture-container">
            <img class="profile-pic" [src]="artistProfilePictureURL" (error)="insertDefaultProfilePicture()">

            <div class="overlay">
                <input class="file-input" type="file" accept=".jpg, .png, .jpeg" (change)="onFileSelect($event)">
                <i class="fa-solid fa-pen"></i>
                <b>
                    Change picture
                </b>
            </div>
        </div>

        <div class="artist-info">
            <h1 class="artist-title title is-1">
                {{artist.name}}
            </h1>
            <ul class="artist-meta-info">
                <li *ngIf="formattedGenres">
                    <span class="icon is-right">
                        <i class="fa-solid fa-guitar"></i>
                    </span>
                    {{formattedGenres}}
                </li>
            </ul>
            <div class="action-btns">
                <button (click)="openResourceManager('track')" class="button is-success is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-music"></i>
                    </span>
                    <span>
                        Manage tracks
                    </span>
                </button>
                <button (click)="openResourceManager('genre')" class="button is-success is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-guitar"></i>
                    </span>
                    <span>
                        Manage genres
                    </span>
                </button>
                <button (click)="openResourceManager('album')" class="button is-success is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-compact-disc"></i>
                    </span>
                    <span>
                        Manage albums
                    </span>
                </button>
                <button class="button is-warning is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-pen"></i>
                    </span>
                    <span>
                        Edit info
                    </span>
                </button>
                <button class="button is-danger is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                    <span>
                        Delete artist
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- manager for tracks -->
    <app-resource-manager [isLoading]="isResourceManagerLoading" (attach)="attachTrackToArtist($event)"
        (detach)="detachTrackFromArtist($event)" (search)="searchTracks($event)"
        (pageChangeSearch)="searchTracks($event['searchTerm'], $event['pageToGo'])"
        (pageChangeAll)="loadAllTracksFromPage($event)" [isLoading]="isResourceManagerLoading"
        [currPage]="this.resourceManagerCurrPage" [finalPage]="this.resourceManagerFinalPage"
        [resourcesToBeAttached]="resourcesToBeAttached" [alreadyAttachedResources]="alreadyAttachedResources"
        *ngIf="showTrackManager" resourceName="tracks" (close)="closeResourceManager('track')"></app-resource-manager>

    <!-- manager for albums -->
    <app-resource-manager [isLoading]="isResourceManagerLoading" (attach)="attachAlbumToArtist($event)"
        (detach)="detachAlbumFromArtist($event)"
        (pageChangeSearch)="searchAlbums($event['searchTerm'], $event['pageToGo'])" (search)="searchAlbums($event)"
        (pageChangeAll)="loadAllAlbumsFromPage($event)" [currPage]="this.resourceManagerCurrPage"
        [finalPage]="this.resourceManagerFinalPage" [resourcesToBeAttached]="resourcesToBeAttached"
        [alreadyAttachedResources]="alreadyAttachedResources" *ngIf="showAlbumManager" resourceName="albums"
        (close)="closeResourceManager('album')">
    </app-resource-manager>

    <!-- manager for genres -->
    <app-resource-manager [currPage]="this.resourceManagerCurrPage" [finalPage]="this.resourceManagerFinalPage"
        [resourcesToBeAttached]="resourcesToBeAttached" [alreadyAttachedResources]="alreadyAttachedResources"
        *ngIf="showGenreManager" resourceName="genres" (close)="closeResourceManager('genre')">
    </app-resource-manager>

</div>