<div class="main-container">
    <div class="artist-header">
        <div class="picture-container">
            <img class="profile-pic" [src]="artistProfilePictureURL" (error)="insertDefaultProfilePicture()">

            <div class="overlay">
                <input class="file-input" type="file" accept=".jpg, .png, .jpeg">
                <i class="fa-solid fa-pen"></i>
                <b>
                    Change picture
                </b>
            </div>
        </div>

        <div class="artist-info">
            <h1 class="artist-title title is-1">
                {{artist.name}}
            </h1>
            <ul class="artist-meta-info">
                <li>
                    <span class="icon is-right">
                        <i class="fa-solid fa-user-group"></i>
                    </span>
                    Genres here!!
                </li>
            </ul>
            <div class="action-btns">
                <button class="button is-success is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-music"></i>
                    </span>
                    <span>
                        Manage tracks
                    </span>
                </button>
                <button class="button is-success is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-guitar"></i>
                    </span>
                    <span>
                        Manage genres
                    </span>
                </button>
                <button class="button is-success is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-user-group"></i>
                    </span>
                    <span>
                        Manage albums
                    </span>
                </button>
                <button class="button is-warning is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-pen"></i>
                    </span>
                    <span>
                        Edit info
                    </span>
                </button>
                <button class="button is-danger is-small is-rounded">
                    <span class="icon">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                    <span>
                        Delete album
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
